name: Build and Deploy Node backend to Azure

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install backend deps
        working-directory: backend
        run: npm install

      - name: Deploy to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: demo-app1
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: .
